#dealbar_dk{
	float:left;
	width:100%;
}
#dealbar{
	margin:0 auto;
	width:1200px;
}
.small_dealbar{
	float:left;
	width:390px;
	box-shadow:0px 0px 5px #CCC;
	height:430px;
	margin: 10px 5px 10px 5px;

}
.small_dealbar_head{
	width:100%;
	height:40px;
	line-height:40px;
}
.small_dealbar_head_title{
	float:left;
	text-align:center;
	width:170px;
	height:100%;
	background-color:#30363A;
}
.small_dealbar_head_title2{
	float:left;
	width:218px;
	height:100%;
	background-color:#C6CBCB;
}
.small_dealbar_head_title2 > span{
	margin-left:5px;
}
.small_dealbar_head_title2 > a{
	float:right;
	margin-right:5px;
	color:purple;
}
.small_dealbar_head_title > a{
	float:left;
	width:100%;
	height:100%;
	color:white;
}
.small_dealbar_content{
	float:left;
	width:100%;
}
.small_dealbar_content_title{
	float:left;
	margin-top:2px;
	margin-bottom:2px;
	width:100%;
	height:35px;
	line-height:35px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dealbar_buy{
	float:left;
	margin-top:2px;
	margin-left:5px;
	width:30px;
	height:30px;
	line-height:30px;
	color:blue;
	border:1px solid blue;
	text-align:center;
	border-radius:20px;
}
.dealbar_sell{
	float:left;
	margin-top:2px;
	margin-left:5px;
	width:30px;
	height:30px;
	line-height:30px;
	color:orangered;
	border:1px solid orangered;
	text-align:center;
	border-radius:20px;
}
.small_dealbar_content_title > a{
	margin-left:10px;
}
#dealbar_zxcj_dk{
	float:left;
	width:100%;
}
#dealbar_zxcj{
	margin:0 auto;
	width:1200px;
}
