#check-body{
    margin:0 auto;
    width:1200px;
    height:auto;
}

#dialogue{
    width:100%;
}

.dialogue-line{
    height:auto;
    border-bottom:1px solid #CCC;
    margin-bottom:10px;
}
.dialogue-line-head{
    margin-bottom:10px;
}

.dialogue-line-body{
    text-indent: 32px;
    line-height:23px;
}

.dialogue-line-foot{
    height:30px;
    margin-top:10px;
    line-height:30px;
    color:#999;
}