#body{
    width:1200px;
    margin:0 auto;
    padding:10px 15px 10px 15px;
}
#title{
    border-bottom:1px solid #CCC;
    width:100%;
    font-size:20px;
    color:#2b2b2b;
    font-weight:bold;
    padding-bottom:10px;
}
#message{
    float:left;
    width:100%;
    margin-bottom:20px;
}
#writeMessage{
    float:right;
    font-size:14px;
    background-color:#1499F8;
    color:#FFF;
    height:30px;
    display: block;
    line-height:10px;
    border-radius:5px;
    padding:10px 15px 10px 15px;
    margin-bottom:10px;
    box-shadow:0px 0px 2px #1499F8;
}
#writeMessage:hover{
    box-shadow:0px 0px 8px #1499F8;
    cursor: pointer;
    transition:all 0.3s;
}
#sendMessage{
    /*border:1px solid blue;*/
    width:45%;
    height:200px;
    float:right;
    margin-top:10px;
    padding:10px;

}
.message-body{
    margin-top:10px;
    width:50%;
    float:left;
    padding:10px;
}
.message-line{
    height:220px;
    border-bottom:1px solid #ccc;

}
.message-line-head{
}
.name{
    font-size:15px;
    color:#2b2b2b;
}
.name a{
    text-decoration: underline;
    color:#1499F8;
}

.message-line-foot{
    height:38px;
    margin-top:15px;
}
.message-time{
    float:left;
    height:100%;
    line-height:35px;
    font-size:14px;
    color:#999;
}
.message-method{
    float:right;
    height:100%;
}
.message-method span a{
    float:right;
    margin-right:10px;
    line-height:35px;
    height:100%;
    font-size:14px;
    color:#1499F8;
}
.message-method span a:hover{
    color: #1150f8;
    transition:all 0.3s;
    text-decoration:underline;
}
.message-line-body{
    height:100px;
    font-size:14px;
    text-indent:38px;
    padding:18px 0px 0px 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}