#concern{
    border-top:1px solid #CCC;
    margin-top:20px;
    height:515px;
    position:relative;
}
.concern-list{
    box-shadow:0px 0px 5px #CCC;
    padding:5px 10px 5px 10px;
    height:90px;
    margin-top:10px;
    float:left;
    width:31%;
    margin-left:19px;
}
.concern-list img{
    border-radius: 40px;
    border:2px solid white;
    box-shadow:0px 0px 10px #CCC;
    float:left;
}
.concern-list-body{
    float:left;
    height:100%;
    width:65%;
    margin-left:10px;
}
.concern-list-body-string{
    float:left;
    width:100%;
    height:50%;
    line-height:40px;
}
.gzuser{
    color:#ffa313;
}
#personal_right{
    height:600px;
}